name : Bbangmap Node Product Deploy

on:
  workflow_dispatch:
  
jobs:
  docker-build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: soleu
          IMAGE_TAG: latest
        run: |
          cd BBangMap-Server && docker build -t $ECR_REGISTRY/soleu:$IMAGE_TAG .
          echo "::set-output name=image::$ECR_REGISTRY/soleu:$IMAGE_TAG"
