name: Bbangmap-node-prod

on:
  workflow_dispatch:
 
env:
  AWS_REGION: ap-northeast-2             

jobs:
  buildAndTest:
    name: CI Pipeline
    runs-on: ubuntu-18.04
    strategy:

      matrix:
        node-version: ['16.x']
        
    steps:
      - uses: actions/checkout@v2
      
      # Initialize Node.js
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      # Install project dependencies, test and build
      - name: Install dependencies
        run:  cd BBangMap-Server && npm install

  deploy:
    name: CD Pipeline
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: ['16.x']

    needs: buildAndTest
    steps:
      - uses: actions/checkout@v2

      - name: Create env file
        run: |
          cd BBangMap-Server
          touch .env
          echo PORT=8081 >> .env
          echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env
          cat .env
          
      - name : Create config file
        run : |
          cd BBangMap-Server && mkdir config 
          cd config
          touch config.json
          echo "${{ secrets.CONFIG }}" > config.json
          touch kakao.js
          echo "${{secrets.KAKAO }}" > kakao.js
          touch s3.json
          echo "${{secrets.S3}}" > s3.json
          touch secretJwtKey.js
          echo "${{secrets.SECRETJWTKEY}}" > secretJwtKey.js
          touch slack.js
          echo "${{secrets.SLACK}}" > slack.js
          cd ../
          
      # Initialize Node.js
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      # Install project dependencies and build
      - name: Install dependencies
        run: npm install

      # Install AWS CLI 2
      - name: Install AWS CLI 2
        run: |
          cd BBangMap-Server
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          which aws
          sudo ./aws/install --bin-dir /usr/local/bin --install-dir /usr/local/aws-cli --update
      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_DEPLOY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_DEPLOY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Generate deployment package
        run: |
          cd BBangMap-Server
          zip -r deploy.zip . -x '*.git*' './aws/*' awscliv2.zip

      # Deploy to Elastic Beanstalk
      # application_name과 environment_name을 꼭 확인하자!
      # 해당 부분은 꼭 같아야 한다!!
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v14
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID_DEPLOY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY_DEPLOY }}
          application_name: sample
          environment_name: Sample-env-1
          region: ${{ env.AWS_REGION }}
          version_label: ${{github.run_number}}
          deployment_package: BBangMap-Server/deploy.zip
