name: BbangMap-test

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-20.04

    steps:
      - uses: appleboy/ssh-action@master
        with:
          host : ${{secrets.TEST_REMOTE_IP}}
          username: ${{secrets.TEST_REMOTE_SSH_ID}}
          key: ${{secrets.TEST_REMOTE_SSH_KEY}}
          port: ${{secrets.TEST_REMOTE_SSH_PORT}}
          script: |
            sudo git config --global --add safe.directory /home/***/BBang-map-test
            sudo git config --global --add safe.directory ~/BBang-map-test
            cd /home/ubuntu/BBang-map-test
            sudo git checkout .
            sudo git pull
            sudo git config --global user.username ${{secrets.GIT_USERNAME}}
            sudo git config --global user.password ${{secrets.GIT_PASSWORD}}
            sudo npm install
            pm2 restart bbang-map-server
