name: BbangMap-test

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - uses: appleboy/ssh-action@v0.1.4
        with:
          host : ${{secrets.TEST_REMOTE_IP}}
          username: ${{secrets.TEST_REMOTE_SSH_ID}}
          key: ${{secrets.TEST_REMOTE_SSH_KEY}}
          port: ${{secrets.TEST_REMOTE_SSH_PORT}}
      - run: |
            cd /home/ubuntu/BBang-map-test
            sudo git pull
            sudo git config --global user.username ${{secrets.GIT_USERNAME}}
            sudo git config --global user.password ${{secrets.GIT_PASSWORD}}
            npm install
            pm2 restart bbang-map-server
